@font-face {
    font-family: 'roboto';
    src: url('./fonts/Poppins/Poppins-regular-webfont.woff2') format('woff2'),
         url('./fonts/Poppins/Poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-bold-webfont.woff2') format('woff2'),
         url('./fonts/Poppins/Poppins-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
html {
   font-size: 62.5%;
}
* {
   box-sizing: border-box;
   font-family: "Poppins", Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   font-size: 1.7rem;
   list-style: none;
   border: 0;
}
:root {
   --primary-color: #38a1a8;
   --secondary-color: #2E3192;
   --accent-color: #ad28ade2;
   --border-radius: 50%;
   --color: #ffffff;

}
.container {
   width: 100vw;
   min-height: 100vh;
   background: linear-gradient(135deg, var(--primary-color),var(--accent-color));
   padding: 1rem;
}
.notification {
   text-align: center;
   color: #ffffff;
   padding: 1rem;
   max-width: 768px;
   margin: 0 auto;
   background-color: #2e927b;
   border-radius: 5px;
   opacity: 1;
   transition: transform 2s;
   max-height: 100%;
}
.notification.hidden {
   opacity: 0;
   max-height: 0;
   transform: translateY(5px);
}
.todo-app {
   max-width: 768px;
   background-color: var(--color);
   border-radius: 5px;
   padding: 1rem 2rem;
   margin: auto;
}
.todo_header {
   display: flex;
   gap: 2rem;
   justify-content: space-between;
   margin: 1rem 0;
   align-items: center;
}
.icon.message {
   fill: var(--secondary-color);
   width: 4rem;
   height: 4rem;
}
.input-control {
   display: flex;
   border: 2px solid var(--primary-color);
   overflow: hidden;
   border-radius: 50px;
   position: relative;
}
#input {
   flex-grow: 1;
   padding: 0 1rem;
   outline: none;
}
.btn {
   border-radius: 50px;
   background-color: var(--secondary-color);
   padding: 1rem;
   cursor: pointer;
   color: var(--color);
}
::placeholder {
   font-weight: 500;
   opacity: .5;
   color: var(--color);
}
.search {
   display: flex;
   margin-top: 1rem;
}
.search .btn {
   background-color: var(--secondary-color);
}
.input-group {
   display: flex;
   border: 2px solid var(--secondary-color);
   overflow: hidden;
   border-radius: 50px;
   position: relative;
   margin: 0 2rem;
}
#search {
   border: none;
   outline: none;
   padding: 1rem;
}

#list-container .list {
   cursor: pointer;
   margin: 2rem 1rem
   ;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.checked .content{
   text-decoration: line-through;
}
.media {
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.media::before {
   content: '';
   display: block;
   width: 2rem;
   height: 2rem;
   background-color: #2e927b;
   border-radius: 100%;
   margin: 0 1rem;
}
.checked.media::before {
   content: url(../images/check.svg);
   display: block;
   width: 2rem;
}
.span {
   content: url(../images/trash.svg);
   width: 2.3rem;
   height: 2rem;
   font-size: 2.5rem;
   right: 1rem;
}